{% extends "base.html" %}

{% block content %}

<div class="col-xs-12 col-md-8">
  <div id="alarm_table"></div>
</div>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['table']});
      google.charts.setOnLoadCallback(drawTable);

      function drawTable() {
        var data = new google.visualization.DataTable();
        data.addColumn('number', 'Alarm ID')
        data.addColumn('string', 'Time');
        data.addColumn('string', 'Node UUID');
        data.addColumn('number', 'Sensor');
        data.addColumn('string', 'Recording');
        data.addColumn('string', '')
        data.addRows([
          {% for d in alarmData %}
            {% if loop.last%}
            [{{d.alarmId}}, '{{d.timestamp}}','{{d.uuid}}',{{d.sensor}}, '<a href="http://keimo.org/recordings/{{d.recording}}">Link</a>', '<img onclick="javascript:confirmDelete(\'{{d.recording}}\')" border="0" title="Delete row" src="/static/img/ic_delete_forever_black_24dp.png">']

            {% else %}
            [{{d.alarmId}}, '{{d.timestamp}}','{{d.uuid}}',{{d.sensor}}, '<a href="http://keimo.org/recordings/{{d.recording}}">Link</a>', '<img onclick="javascript:confirmDelete(\'{{d.recording}}\')" border="0" title="Delete row" src="/static/img/ic_delete_forever_black_24dp.png">'],
            {% endif %}
          {% endfor %}
        ]);

        var table = new google.visualization.Table(document.getElementById('alarm_table'));

        table.draw(data, {showRowNumber: true, width: '100%', height: '100%', allowHtml: true});
      }

      function confirmDelete(filename) {
        if (confirm('Really delete video file + database document?')) {
          window.location = '/delete/' + filename;
        }
      }
    </script>
{% endblock %}
