<!DOCTYPE html>

<html lang="en">
  <head>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/favicon.ico">
    <link href="/static/css/theme.css" rel="stylesheet">

    {% if title %}
    <title>{{ title }} - RBSS</title>
    {% else %}
    <title>RBSS</title>
    {% endif %}
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">RBSS</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% if g.user.authenticated %}
            {% if g.user.userName == 'Admin' %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Add / remove</li>
                <li><a href="#">User</a></li>
                <li><a href="#">System</a></li>
                <li><a href="#">Node</a></li>
                <li><a href="#">Service</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Query database:</li>
                <li><a href="#">Users</a></li>
                <li><a href="#">Systems</a></li>
                <li><a href="#">Nodes</a></li>
                <li><a href="#">Services</a></li>
              </ul>
            </li>
            {% endif %}
            <li><a href="/status">System status</a></li>
            <li><a href="/alarms">Alarms</a></li>
            <li><a href="/logout">Log out</a></li>
            {% else %}
            <li><a href="/login">Login</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
          <li>{{message}}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
  </body>
</html>
