{% extends "base.html" %}

{% block content %}

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <div id="tempchart"></div><br>
  <div id="loadchart"></div><br>
  <div id="memchart"></div>

  <script type='text/javascript'>
    google.charts.load('current', {'packages':['line']});
    google.charts.setOnLoadCallback(drawTempChart);
    google.charts.setOnLoadCallback(drawLoadChart);
    google.charts.setOnLoadCallback(drawMemChart);

    function drawTempChart() {

          var data = new google.visualization.DataTable();

          data.addColumn('string', 'Time');
          data.addColumn('number', 'Temperature');
          data.addColumn('number', 'Humidity')

          data.addRows([
            {% for d in statusData %}
              {% if loop.last %}
              ['{{d.timestamp}}',{% if d.temperature[0] != 'nan' %}{{d.temperature[0]}}{% else %}19{% endif %},{% if d.humidity %}{{d.humidity[0]}}]{% else %}20]{% endif %}

              {% else %}
              ['{{d.timestamp}}',{% if d.temperature[0]  != 'nan '%}{{d.temperature[0]}}{% else %}19{% endif %},{% if d.humidity %}{{d.humidity[0]}}],{% else %}20],{% endif %}
              {% endif %}
            {% endfor %}
          ]);

          var options = {
            chart: {title: 'Genuino node ambient sensors'},
            width: 900,
            height: 300,
            series: {
              0: {axis: 'Temperature'},
              1: {axis: 'Humidity'}
            },
            axes: {
              y: {
                Temperature: {label: 'Temperature (Celcius)'},
                Humidity: {label: 'Humidity (%)'}
              }
            }
          };

          var chart = new google.charts.Line(document.getElementById('tempchart'));

          chart.draw(data, options);
    }

    function drawMemChart() {

    	var data = new google.visualization.DataTable();

    	data.addColumn('string', 'Time');
    	data.addColumn('number', 'MemFree (KB)');
    	data.addColumn('number', 'MemAvailable (KB)');

    	data.addRows([
    		{% set _stub = statusData.rewind() %}

    		{% for d in statusData %}
    			{% if loop.last %}
    			['{{d.timestamp}}', {{d.MemFreekB}}, {{d.MemAvailablekB}}]
    			{% else %}
    			['{{d.timestamp}}', {{d.MemFreekB}}, {{d.MemAvailablekB}}],
    			{% endif %}
    		{% endfor %}
    	]);

    	var options = {
    		chart: {title: 'Raspberry Pi memory status'},
    		width: 900,
    		height: 300
    	};

    	var chart = new google.charts.Line(document.getElementById('memchart'));

      chart.draw(data, options);
    }

    function drawLoadChart() {

          var data = new google.visualization.DataTable();

          data.addColumn('string', 'Time');
          data.addColumn('number', '1m load avg.');
          data.addColumn('number', '5m load avg.');
          data.addColumn('number', '15m load avg.');

          data.addRows([
            {% set _stub = statusData.rewind() %}

            {% for d in statusData %}
              {% if loop.last%}
              ['{{d.timestamp}}', {{d.OneMinLoad}}, {{d.FiveMinLoad}}, {{d.FifteenMinLoad}}]
              {% else %}
              ['{{d.timestamp}}', {{d.OneMinLoad}}, {{d.FiveMinLoad}}, {{d.FifteenMinLoad}}],
              {% endif %}
            {% endfor %}
          ]);

          var options = {
            chart: {title: 'Raspberry Pi load averages'},
            width: 900,
            height: 300
          };

          var chart = new google.charts.Line(document.getElementById('loadchart'));

          chart.draw(data, options);
        }

  </script>

{% endblock %}
