{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
      <div class="container">
        <h1>RBSS</h1>
        <p>Remote Burglar Surveillance System</p>
      </div>
</div>

{% endblock %}
