{% extends "base.html" %}

{% block content %}

  <div class="container container-table">
    <div class="row vertical-center-row">
      <div class="col-md-4 col-md-offset-4">

        <form class="form-signin" action="" method="post" name="login">
          {{ form.hidden_tag() }}
          <h2 class="form-signin-heading">Please sign in</h2>
          <label for="username" class="sr-only">Username:</label>
          {{form.userName(placeholder="Username", class="form-control", required='True', autofocus='True')}}
          <label for="password" class="sr-only">Password:</label>
          {{form.password(placeholder="Password", class="form-control", required='True')}}
          <div class="checkbox">
            <label>
              {{ form.rememberMe }} Remember me
            </label>
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
