{% extends "base.html" %}

{% block content %}
<div class="container container-table">
  <div class="row vertical-center-row">
    <div class="col-md-4 col-md-offset-4 jumbotron">
        <h2>Goodbye!</h2>
        <p>User "{{ username }}" has been logged out.</p>
        <p>
          <a class="btn btn-md btn-primary" href="/login" role="button">Login again &raquo;</a>
        </p>
      </div>
    </div>
</div>

{% endblock %}
